nav
{
	height: 155px;
}

footer.page-footer 
{
	margin-top: 0 !important;
}

.min, .min3
{
	padding: 0 !important;
}

.min img
{
	    
}

.min3 img
{
	margin-top: -6px;
}

.vertop h2
{

margin: 0 0 1.424rem 0;
}

#wheelDiv
{

	  height: 110%;
           width: 100%;
}

#wheelDiv svg
{
	    height: 493px;
	        max-width: 100%;
	        top: -87px;
}