nav
{
	height: 155px;
}

footer.page-footer
{
	margin-top: 0 !important;
}

.min, .min3
{
	padding: 0 !important;
}

.min img
{

}

.min3 img
{
	margin-top: -6px;
}

.vertop h2
{

margin: 0 0 1.424rem 0;
}

#wheelDiv
{

	  height: 110%;
           width: 100%;
}

#wheelDiv svg
{
	    height: 493px;
	        max-width: 100%;
	        top: -87px;
}

#search
{
	height: 40%;
}

.section.no-pad-bot {
    min-height: 549px;
}


.textareaimport
{
	height: 10em;
}

.count
{
	text-align: center;
    font-size: 37px;
}

.titlesearch
{
	font-weight: bold;
}

[class|=wheelnav-wheelDiv-slice-basic] {
    fill: #1572b6;
    stroke: none;
    font-family: Impact;
}
[class|=wheelnav-wheelDiv-slice-hover] {
    fill: #33a9dc;
    stroke: none;
    cursor: pointer;
}
[class|=wheelnav-wheelDiv-slice-selected] {
    fill: #33a9dc;
    stroke: none;
}

[class|=wheelnav-wheelDiv-title] > tspan {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
    cursor: pointer;
}

[class|=wheelnav-wheelDiv-title-basic] > tspan {
   opacity: 0.5;
}

[class|=wheelnav-wheelDiv-title-selected] > tspan {
   opacity: 1;
   font-size: 20px;
}

[class|=wheelnav-wheelDiv-title] {
    fill: black;
    cursor: pointer;
    stroke: white;
    stroke-width: 2;
    stroke-opacity: 0.1;
}
